@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body{
    font-family: 'JetBrains Mono', sans-serif;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    display: flex;
    justify-content: center;
}
button{
    cursor: pointer;
}

button:hover{
    background-color: tomato;
}
.calc{
    border: dashed 3px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(6,1fr);
    padding: 20px;
}
.button1{
    background-color:rgba(25, 235, 130, .1);
    border: solid 2px white;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    font-size: 14pt;
}
.button2{
    background-color:rgba(245, 245, 245, 0.836);
    border: solid 2px white;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    font-size: 14pt;
}
.nonnumber{
    background-color:rgba(224, 153, 47, 0.938);
    border: solid 2px white;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
    font: bold;
    font-size: 14pt;
}
#one{
    grid-row: 5 / 6  ;
    grid-column: 1 / 2 ;
}
#two{
    grid-row: 5 / 6 ;
    grid-column: 2 / 3 ;
}
#three{
    grid-row: 5 / 6 ;
    grid-column: 3 / 4 ;
}
#four{
    grid-row: 4 / 5;
    grid-column: 1 / 2 ;
}
#five{
    grid-row: 4 / 5 ;
    grid-column: 2 / 3 ;
}
#six{
    grid-row: 4 / 5 ;
    grid-column: 3 / 4 ;
}
#seven{
    grid-row: 3 / 4 ;
    grid-column: 1 / 2 ;
}
#eight{
    grid-row: 3 / 4 ;
    grid-column: 2 / 3 ;
}
#nine{
    grid-row: 3 / 4 ;
    grid-column: 3 / 4 ;
}
#plus{
    grid-row: 5 / 6 ;
    grid-column: 4 / 5 ;
}
#minus{
    grid-row: 4 / 5 ;
    grid-column: 4 / 5 ;
}
#divid{
    grid-row: 2 / 3 ;
    grid-column: 4 / 5 ;
}
#times{
    grid-row: 3 / 4 ;
    grid-column: 4 / 5 ;
}
#result{
    grid-row: 6 / 8 ;
    grid-column: 4 / 5 ;
}
#zero{
    grid-row: 6 / 7 ;
    grid-column: 1 / 3 ;
}
#point{
    grid-row: 6 / 7 ;
    grid-column: 3 / 4 ;
}
#AC{
    grid-row: 2 / 3 ;
    grid-column: 1 / 2 ;
}
#plusmin{
    grid-row: 2 / 3 ;
    grid-column: 3 / 4 ;
}
#DEL{
    grid-row: 2 / 3 ;
    grid-column: 2 / 3 ;
}
#power2{
    grid-row: 2 / 3 ;
    grid-column: 5 / 6 ;
}
#power3{
    grid-row: 2 / 3 ;
    grid-column: 6 / 7 ;
}
#powery{
    grid-row: 2 / 3 ;
    grid-column: 7 / 8 ;
}
#inverse{
    grid-row: 2 / 3 ;
    grid-column: 8 / 9 ;
}
#module{
    grid-row: 3 / 4 ;
    grid-column: 5 / 6 ;
}
#sqrt{
    grid-row: 3 / 4 ;
    grid-column: 6 / 7 ;
}
#cubert{
    grid-row: 3 / 4 ;
    grid-column: 7 / 8 ;
}
#yrt{
    grid-row: 3 / 4 ;
    grid-column: 8 / 9 ;
}
#fac{
    grid-row: 4 / 5 ;
    grid-column: 5 / 6 ;
}
#natlog{
    grid-row: 2 / 3 ;
    grid-column: 9 / 10 ;
}
#log10{
    grid-row: 3 / 4 ;
    grid-column: 9 / 10 ;
}
#sin{
    grid-row: 4 / 5 ;
    grid-column: 6 / 7 ;
}
#cos{
    grid-row: 4 / 5 ;
    grid-column: 7 / 8 ;
}
#tan{
    grid-row: 4 / 5 ;
    grid-column: 8 / 9 ;
}
#sini{
    grid-row: 5 / 6 ;
    grid-column: 6 / 7 ;
}
#cosi{
    grid-row: 5 / 6 ;
    grid-column: 7 / 8 ;
}
#tani{
    grid-row: 5 / 6 ;
    grid-column: 8 / 9 ;
}
#sinh{
    grid-row: 6 / 7 ;
    grid-column: 6 / 7 ;
}
#cosh{
    grid-row: 6 / 7 ;
    grid-column: 7 / 8 ;
}
#tanh{
    grid-row: 6 / 7 ;
    grid-column: 8 / 9 ;
}
#sinhi{
    grid-row: 7 / 8 ;
    grid-column: 6 / 7 ;
}
#coshi{
    grid-row: 7 / 8 ;
    grid-column: 7 / 8 ;
}
#tanhi{
    grid-row: 7 / 8 ;
    grid-column: 8 / 9 ;
}
#div100{
    grid-row: 7 / 8 ;
    grid-column: 5 / 6 ;
}
#nonsense{
    grid-row: 7 / 8 ;
    grid-column: 9 / 10 ;
}
#nonsense1{
    grid-row: 7 / 8 ;
    grid-column: 1 / 2 ;
    background-color: green;
}
#nonsense2{
    grid-row: 7 / 8 ;
    grid-column: 2 / 3 ;
    background-color: navy;
}
#nonsense3{
    grid-row: 7 / 8 ;
    grid-column: 3 / 4 ;
    background-color: gold;
}

#display{
    text-align: right;
    grid-row: 1 / 2 ;
    grid-column: 1 / 10 ;
    color: rgb(238, 255, 0);
    font-size: 28pt;
}
